
<nav class="uk-navbar-container"uk-navbar-transparent uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="{%url 'landing' %}">Home</a></li>



            <li>
                {% if user.is_authenticated %}

                        <li><a href="{%url 'my_hood'%}">My Hood</a></li>
                        <li><a href="">Hoods</a>
                        <div class="uk-navbar-dropdown">
                   <ul class="uk-nav uk-navbar-dropdown-nav">
                       <li class="uk-active"><a href="{%url 'my_hood'%}">Wisteria</a></li>
                       <li><a href="">riri</a></li>
                       <li><a href="">Castillo</a></li>



                   </ul>
               </div>
               </li>

                        <li><a href="/logout">Logout</a></li>

                    </ul>
                </div>
            </li>
         {% else %}
            <li><a class='btn btn-default' href="/accounts/login">Login</a></li>
              <li><a href="/accounts/register">Sign up</a></li>

        </ul>
   {% endif %}
    </div>
    <div class="uk-navbar-center">

        <ul class="uk-navbar-nav">

            <li>
              <form class="uk-search uk-search-default uk-margin-medium-right uk-margin-small-top" role="search" action="{%url 'search_results' %}">
                <span uk-search-icon></span>
                <input class="uk-search-input" type="search" placeholder="Search businesses in a  given hood by hood name"name='business'>
              </form>

            </li>
            </div>
            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav uk-margin-large-right">





                <li>  <a href="{% url 'my_profile'%}" uk-icon="user"></a></li>
              <li>  <a href="{% url 'new_profile'%}" >Create Profile</a></li>




          </ul>
      </div>

</nav>
