{% extends 'base.html' %}
{% load bootstrap4 %}

{%block content%}
<head>
<link href="https://fonts.googleapis.com/css?family=Henny+Penny" rel="stylesheet">
<style>
h1,h2{
font-family: 'Henny Penny', cursive;
}
</style>
</head>
<h2><a href ="{%url 'new_post'%}">CREAT POST</a></h2>
<h1 class="uk-heading-line uk-text-center"><span>Featured Posts</span></h1>
<div class="uk-container uk-margin-medium-bottom ">
{% for item in post %}
<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin-large" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
      {% if item.post_image %}
          <img src="{{item.post_image.url}}" alt="Image" >
        {% endif%}
        <canvas width="600" height="100"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            <h3 class="uk-card-title uk-text-capitalize">{{item.title}}</h3>
            <p>{{item.post}}</p>
            <p class="uk-article-meta">Posted by <a href="#">{{item.posted_by}}</a> on {{item.pub_date}}.</p>

        </div>
    </div>
</div>

{%endfor%}
</div>
{%endblock%}
